{% extends "auctions/layout.html" %}

{% block title %}
    {{item.title}}
{% endblock %}

{% block body %}
    <h2>Item Details</h2>

    <div class= "item-container">
          <div class="item_img" style="width: 18rem;">
              <img id= "img" src="{{item.picture}}" class="card-img-top">
          </div>  
            <div class="item-body">
                  <h5 class="card-title">Price: ${{item.price}}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">{{item.title}}</h6>
                  <p class="card-text" id="item_description">{{item.description}}</p>
                  <p class="card-text" id="item_owner">Posted by {{item.user}}</p>

            </div>
    </div>

    

    {%if user.is_authenticated %}
        {% if not item.active and user.id == highest_bid_user.id %}
        <div class= "alert alert-success" role= "alert">
            <p style= "text-transform:capitalize"> {{user.username}} </p>
            Congratulations you won this bid!
        </div>  
        {% endif %}

        <div>
            <form action= "{% url "add_to_watchlist" id=item.id %}" method="POST">
                {% csrf_token %}
            <button type="submit" class="btn btn-warning">+ Add to Watchlist</button>
            </form>
            <div>    
            {% if owner and item.active %}
                <form action= "{% url "close_auction" id=item.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-secondary"> Close Auction </button>
                </form>   
            {% endif %}
            </div>    
        </div>

        <div>
            <form action= "{% url "add_bid" id=item.id %}" method="POST"> 
                {% csrf_token %}
                <input type="number" name= "new_bid" placeholder="Add a bid">
                <button type="submit" class="btn btn-primary">Add</button>
            </form>    
        </div>

            
        <div class="form-floating">
            <h5>Comments</h5>
            <form action= "{% url "comments" id=item.id %}" method="POST"> 
                {% csrf_token %}
                <textarea class="form-control" name= "comment" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
                <button type="submit" class="btn btn-primary"> Publish Comment </button>
            </form>
        </div>
    {%endif%}
    
    <div> 
        
        {% if success_message %}
            <div class= "alert alert-success" role= "alert">
                {{success_message}}
            </div>     
        {% elif error_message %}        
            <div class= "alert alert-warning" role= "alert">
                {{error_message}}
            </div>      
        {% endif %}        
               
    </div>

    <div> 
        <ul class= "list-group list-group-flush" > 
        {% for comment in comments %}
            <li class= "list-group-item">
                <i class="bi bi-person-circle"></i> {{comment.user}} 
                <p> Posted on {{comment.date_creation}}</p>
                <p>{{comment.comment}}</p>
            </li>           
        {% endfor %}        
        </ul>      
    </div>


{% endblock %}